.App {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.frame-table-header-cell {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.frame-table-row {
  cursor: pointer;
}

.app-title a {
  color: lightgrey;
}

.move-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
