.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.frame-table-header-cell {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.frame-table-row {
  cursor: pointer;
}